@font-face {
  font-family: 'mochamattari';
  src: url('../fonts/mochamattari.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  @include font-color($primary-color);
  font-family: mochamattari;
  font-size: 40px;
}
