.footer {
  width: $container-width;
  height: $container-height;
}

.one-third {
  width: $container-width;
  height: 60%;
  display: block;
}

.newsletter {
  width: 100%;
  height: 20%;
}

.contact-info {
  width: $container-width / 3 - 0.6vw;
  height: 100%;
  float: left;
  background-color: blue;
}

.follow-social {
  @extend .contact-info;
  background-color: pink;
}

.mission-statement {
  @extend .contact-info;
  background-color: orange;
}

.copyright-info {
  width: 100%;
  height: 20%;
}
