/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

.nav {
  width: 100%;
  min-height: 150px;
  background-color: red;
}

.feature {
  width: 100%;
  min-height: 150px;
  background-color: $accent-two;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.previously {
  width: 75%;
  min-height: 150px;
  background-color: $primary-color;
  float: left;
}

.social {
  width: 25%;
  min-height: 150px;
  background-color: $secondary-color;
  float: right;
}

.footer {
  width: 100%;
  min-height: 150px;
  background-color: $accent-one;
}
/* End for testing */

.parent {
  width: $container-width;
  height: $container-height;
  margin: 1vh auto;
}

.past-events {
  width: $container-width * 0.69;
  height: $container-height;
  float: left;
  background-color: blue;
  margin: 0;
  padding: 0;
}

.facebook-feed {
  width: $container-width * 0.3;
  height: $container-height;
  float: right;
  background-color: pink;
  margin: 0;
  padding: 0;
}
